@(title: String)(form: Form[authController.UserLogin])

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
    </head>
    <body>
	<table　border=1>
    	<tr>	   @helper.form(action = routes.authController.auth) {

         	@helper.inputText(form("name"))
        	@helper.inputPassword(form("email"))
        	@helper.inputPassword(form("password"))
     	<input type="submit" value ="Login">
        }
        </tr>
        <tr><a href="@routes.authController.logout">logout</a></tr>
        
  </table>      
    </body>
</html>