@(msg: String, form1: Form[models.Artist])
	
	@main("Sample Page") {
		
		<h1>アーティスト更新</h1>
		<p>@msg</p>
		@helper.form(action = routes.ArtistController.artistupdate){
			@(helper.inputText (
				field = form1("id")
			))
			
			@(helper.inputText (
				field = form1("name")
			))
			@(helper.inputText (
				field = form1("sex")
			))
			@(helper.inputText (
				field = form1("age")
			))
			@(helper.inputText (
				field = form1("typeid")
			))
			@(helper.inputText (
				field = form1("wordprice")
			))
			@(helper.inputText (
				field = form1("rate")
			))
			<input type ="hidden" value ="1" name="officeid" />
			<input type ="hidden" value ="dummy" name="officename" />
			<input type="submit">
		}
	}
