@(datas :List[Artist],form1: Form[ArtistController.NumForm])
	@main("Sample Page") {
		
		<h1>アーティスト詳細</h1>
		<hr>
<table>
	<tr>
		<th>id</th>
		<th>名前</th>
		<th>性別</th>
		<th>年齢</th>
		<th>事務所ID</th>
		<th>事務所名</th>
		<th>得意な声</th>
		<th>１ワード毎の値段</th>
		<th>割り増し割合率</th>
		<th>登録日時</th>
		<th>更新日時</th>
		<th>編集</th>
		<th>消去</th>
		<th>注文ワード数</th>
		<th>割り増しフラグ</th>

	</tr>
		@for( res <- datas){
			<tr>
				<td>@res.id</td>
				<td>@res.name</td>
				@if(res.sex ==1){
					<td>male</td>
				}else{
					<td>female</td>
				}
				<td>@res.age</td>
				<td>@res.officeid</td>
				<td>@res.officename</td>
				<td>@res.typeid</td>
				<td>@res.wordprice</td>
				<td>@res.rate</td>
				<td>@res.created.format("yyyy-MM-dd HH:mm:ss")</td>
				<td>@res.modify.format("yyyy-MM-dd HH:mm:ss")</td>
				<td>
				<a class="btn btn-default" href="/artist_edit/@res.id">更新</a>
				</td>
				<td>
				<a class="btn btn-default" href="/test_deli@res.id">消去</a>
				</td>
			@helper.form(action = routes.ArtistController.artistCalcPrice){
<td>				@(helper.inputText (
					field = form1("num")
				))
</td>
<td>				@(helper.checkbox (
					field = form1("rateFlg")
				))
</td>				<input type = "hidden" value = @res.id name="id" />		
<td>				<input type="submit"></td>
		}

			</tr>
			}
</table>
<table>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/0.png")">
</table>
	}